@import "../../sharedStyle/base/_variables.scss";

.global_search_container{
	width: 80%;
	margin-bottom: 50px;
	position: relative;
	border: 1px solid $light-border;

	.global_search{
		padding: 15px;
	  font-size: 20px;
	  font-weight: $font-bold;
	  letter-spacing: 1px;
	  width: 100%;
	  border: 0;
	}

	.search_cancel_button{
		position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    text-align: center;
    width: 55px;
    cursor: pointer;
    background: $theme-lighter;
    .cross_text{
			font-size: 35px;
			line-height: 36px;
			font-weight: $font-lighter;
    }
	}
}

