
// FONTS
$font: 'Source Sans Pro';
$font-lighter: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 500;
$font-bolder: 600;

// COLORS
$theme: #00adf3;
$theme-darker: #0091cc;
$theme-light: #dbf3fd;
$theme-lighter: #ecf9fe;
$white-back: #FFFFFF;
$white-text: #FFFFFF;
$background: #FFFFFF;
$darker-background: rgba(0, 0, 0, 0.14);
$lighter-color: #f4f4f4;
$light-border: #e1e1e1;
$disabled: #868686;
$faded: #cdcdcd;
$dark: #191919;	
$dark-gray: #A7A5A0;
$light-grey: #E1E1E1;
$mix: #666666;
$light: #ffffff;
$light-text: #c5ebfb;
$wrong: #f44336;
$error: #FF9C9D;
$error-back: #F7E2E3;
$darker-wrong: #5A130B;
$active: #00adf3;
$light-active:#7fd4f7;
$mainTrans: rgba(0, 0, 0, 0.76);
$discount-background: #FEB746;
$transparent: 'transparent';

$grey-text: #999;